.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-component{
    color: black;
    background: white;
    height: 70vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.29);
    -moz-box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.29);
    box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.29);
}

.main-profile{
    background: #eaeaeb;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 20px;
}

.profile{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #eaeaeb;
    border-radius: 15px;
    transition: 1s;
}

.profile:hover{
    background: #c4c4c4;
    transition: 1s;
    cursor: pointer;
}

.notes{
    flex: 8;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
    width: 93%;
}

.notes span{
    border-radius: 10px;
    padding-left: 15px ;
    transition: 0.5s ease;
}

.notes span:hover{
    cursor: pointer;
    background: #c4c4c4;
    transition: 0.5s ease;
}

.notes::-webkit-scrollbar {
    width: 5px; /* Ширина всего элемента навигации */
}

.notes::-webkit-scrollbar-track {
    background: #eaeaeb; /* Цвет дорожки */
}

.notes::-webkit-scrollbar-thumb {
    background-color: black; /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */ /* Оформление границ бегунка */
}



.search{
    position: relative;
}

.search input{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    height: 25px;
    width: 95%;
    color: black;
}

.search img{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 18px;
}

.exit{
    flex: 1;
    border-top: 1px solid #eaeaeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exit button{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 30px;
    border-radius: 10px;
}

.main-buttons button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;
    border: none;
    background: #eaeaeb;
    border-radius: 10px;
}

.main-buttons button img{
    width: 20px;
    height: 20px;
}

.main-buttons button:hover{
    background: #c4c4c4;
    transition: 1s;
    cursor: pointer;
}

.main-buttons{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    gap: 5px;
}

.main-profile{
    flex:4;
}

.main-edit{
    flex:15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-avatar{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.note{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 5px;
    border-radius: 5px;
}
.note span{
    margin-left: 20px;
}
