.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form form{
    padding: 40px;
    border: 2px solid red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.login-form-inputs input{
    height: 30px;
    border-radius: 5px;
}

.login-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.login-buttons input{
    height: 30px;
    border-radius: 5px;
}

